<table class="table mt-5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>
            <button class="btn btn-primary" (click)="onView(contact.id)">View</button>
            <button class="btn btn-warning" (click)="onEditClick(contact)">Update</button>
            <button class="btn btn-danger" (click)="onDelete(contact.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  